{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <h3>Hi, my name is Michael.</h3>
                        <p>
                            I am a self-taught Python developer, growing and sharpening my skills in web development and database management.
                        </p>
                        <p>
                            This test site is built with the Flask framework. All the back-end server and database code was written by me and can be found on my
                            <a href="https://github.com/mgardner1011/UdemyProjects/tree/master/blog_with_end_users">GitHub</a>.
                            The front-end is a Bootstrap template available <a href="https://startbootstrap.com/previews/clean-blog">here</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<hr>

{% include "footer.html" %}